/*
    Author: Emily Black
    File Name: main.css
    File Desc: main css file for styling
*/
* {
    background-image: url(../images/background.fw.png) ;
    background-repeat:repeat;
    text-align:center;
    background-color: grey;
}